{% extends 'layouts/_base.html' %}

{% block content %}
<div class="wrapper">
    <div style="padding: 25% 0 0;">content</div>
    <picture>
        <!--[if IE]> <video style="display: none"> <![endif]-->
       <source srcset="images/12.webp" type="image/webp">
       <source srcset="images/12.jpg" type="image/jpeg">
        <!--[if IE]> </video> <![endif]-->
       <img src="images/12.jpg"  alt="My default image" title="My default image">
   </picture>


    <img src="logo.svg" class="data-svg">
    sdfsdjfk jljlks
    fs djfkj
    sdf jj s
    s dfjs
</div>
{% endblock %}