.container {
  display: flex;
  flex-direction: column;
  height: 100%;

  & > .content {
    flex: 1 0 auto;
    position: relative;
  }
}

.wrapper {
  margin: 0 auto;
  padding: map-get($wrapper, 'padding');
  max-width: map-get($wrapper, 'max-width');
  min-width: map-get($wrapper, 'min-width');
}
